{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h1>Вход</h1>
  <form method="post" class="form" autocomplete="off">
    {{ form.hidden_tag() }}

    <div class="form__group">
      {{ form.username.label }}
      {{ form.username(class="input") }}
      {% for error in form.username.errors %}
        <div class="form__error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form__group">
      {{ form.password.label }}
      {{ form.password(class="input") }}
      {% for error in form.password.errors %}
        <div class="form__error">{{ error }}</div>
      {% endfor %}
    </div>

    {{ form.submit(class="btn btn--primary") }}
  </form>
{% endblock %}
